@import "../../assets/scss/styles.scss";
.education {
  border-left: 3px solid $teal;
  padding-left: 30px;

  &__item {
    // box-shadow: $boxShadow_01;

    padding: 15px;
    background-color: $primary_color;
    position: relative;
    z-index: 1;

    &::before {
      content: "";
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 3px solid $teal;
      position: absolute;
      top: 50%;
      left: -42px;
      background: $primary_color;
      @include transition(0.3s);
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    &__header {
      margin-bottom: 15px;

      h1,
      p {
        margin: 0;
      }

      p {
        &:first-of-type {
          color: $text_color;
        }
      }
    }

    &__brief {
      padding-top: 15px;
      border-top: 1px solid #000;
    }

    &:hover {
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);

      &::before {
        background-color: $teal;
      }

      .education__item__header {
        h1 {
          &.lg_heading {
            color: $text_color !important;
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .education {
    margin-bottom: 50px;
  }
}
@media (max-width: 768px) {
  .education {
    border: none;

    &__item {
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
      &::before {
        display: none;
      }
    }
  }
}
