@import "./_variables.scss";

form {
  input,
  select,
  textarea {
    padding: 10px 20px;
  }

  .row {
    > div {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }
}

.request {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100%);
  transition: all 0.3s ease;

  &.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  form {
    max-width: 550px;
    width: 550px;
    background-color: $primary_color;
    padding: 30px;
    border-radius: 10px;
    position: relative;
    z-index: 1;

    input,
    select {
      margin-bottom: 15px;
      height: 50px;

      &.error {
        border-color: $text_color;
      }
    }
    .phone_number {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      position: relative;
      z-index: 1;

      &::after {
        content: "\f107";
        font-family: "fontAwesome";
        position: absolute;
        top: 15px;
        left: 150px;
        z-index: -1;
      }

      > select {
        flex: 1 1 50%;
        font-size: 14px;
        border-right: none;
        border-radius: 5px 0 0 5px;
        background-color: transparent;
      }
      > input {
        border-radius: 0 5px 5px 0;
      }
    }
  }
}

.btn__close {
  background-color: $text_color;
  color: $primary_color;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  position: absolute;
  top: -20px;
  right: -20px;
}
