@import "./variables";
.lg_heading {
  font-size: $lg_font;
  text-transform: uppercase;
  font-weight: 700;
  span {
    color: $red;
  }
}
.md_heading,
.sm_heading,
.lg_heading {
  font-family: 600;
  color: $white;
}
.md_heading {
  font-size: $md_font;
}
.sm_heading {
  font-size: $sm_font;
}

.md_heading,
.sm_heading {
  text-transform: uppercase;
}
.sub_heading {
  text-transform: uppercase;
  color: $red !important;
  font-weight: 600;
  line-height: 1.8;
  color: $white;
  font-size: 16px;
  margin-bottom: 0;
}

.section_gap {
  padding: 80px 0;
}
.pb-80 {
  padding-bottom: 80px;
}
.pt-80 {
  padding-bottom: 80px;
}
.black {
  color: $Primary;
}

.section_title {
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;

  h1 {
    text-align: center;
  }
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  color: $white !important;
  @include transition(0.3s);
  position: relative;
  z-index: 1;
  overflow: hidden;
  border: none;
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 0.5px;

  &::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 0;
    width: 0;
    right: -20px;
    bottom: 0;
    z-index: -1;
    transform: skew(-16deg);
    @include transition(0.6s);
  }

  &__hire {
    background-color: $red;
    &:hover {
      color: $Primary !important;
      &::before {
        background: $light_gray;
        width: 120%;
      }
    }
  }
  &__request {
    border: 1px solid $red;

    &:hover {
      &::before {
        background-color: red;
        width: 120%;
      }
    }
  }

  &__view__all {
    background-color: $red;
    border-radius: 5px;

    &:hover {
      background-color: $red;
      color: $white;
      box-shadow: 6px 6px 0 #1b2129;
    }
  }

  &__github {
    background-color: #000;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;

    &:hover {
      color: $red !important;
      box-shadow: 6px 6px 0 $red;
      background-color: #000;
    }
  }
}

@media (max-width: 768px) {
  .lg_heading {
    font-size: 24px;
  }
  .md_heading {
    font-size: 18px;
  }
  .sm_heading {
    font-size: 14px;
  }
  p,
  a {
    font-size: 14px;
  }
  .btn {
    font-size: 12px;
  }
}

// SCroll snap type
// main {
//   &.main {
//     height: 100vh;
//     overflow-y: scroll;
//     scroll-snap-type: y proximity;
//   }

//   section {
//     scroll-snap-align: start;
//   }
// }

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  span {
    font-size: 40px;
    color: $white;
    text-transform: uppercase;
    display: block;
  }
  h1 {
    font-size: 120px;
    color: $red;

    span {
      font-size: 14px;
      text-align: center;
    }
  }
}

.main {
  .header {
    position: initial;
  }
}

.banner__02 {
  // margin-top: 15px;
  padding: 15px 0;
  border-bottom: 1px solid #000;
  // border-top: 1px solid #000;

  &__content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;

    a {
      color: $white;

      &:hover {
        color: $red;
      }

      &::after {
        content: "/";
        display: inline-block;
        margin-left: 8px;
        color: $white;
      }
    }
    span {
      color: $red;
    }
  }
}
