// @import "./variables";
.lg_heading {
  font-size: $lg_font;
  text-transform: uppercase;
  font-weight: 700;
  span {
    color: $text_color;
  }
}

.md_heading {
  font-size: $md_font;
  text-transform: uppercase;
  color: $text_color;
  font-weight: 700;
}
.sm_heading {
  font-size: $sm_font;
  text-transform: capitalize;
}

.sub_heading {
  text-transform: uppercase;
  color: $text_color !important;
  font-weight: 600;
  line-height: 1.8;
  font-size: 24px;
  margin-bottom: 0;
  &::after {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background-color: $text_color;
    margin-top: -5px;
  }
}

.section_gap {
  padding: 80px 0;
}
.pb-80 {
  padding-bottom: 80px;
}
.pt-80 {
  padding-top: 80px;
}

.section_title {
  display: flex;
  margin-bottom: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 768px) {
  .section_title {
    margin-bottom: 30px;
  }
}

.btn {
  display: inline-block;
  font-size: 18px;
  padding: 10px 30px;
  border-radius: 50px;
  @include transition(0.3s);
  position: relative;
  z-index: 1;
  overflow: hidden;
  border: none;
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 2px;

  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 0;
    width: 0;
    right: -20px;
    bottom: 0;
    z-index: -1;
    transform: skew(-16deg);
    @include transition(0.6s);
  }

  &__hire {
    background-color: $text_color;
    color: $primary_color !important;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.3);

    &:hover {
      &::before {
        background: $secondary_color;
        width: 120%;
      }
    }
  }
  &__request {
    border: 1px solid $text_color;
    color: $secondary_color;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.3);

    &:hover {
      color: $primary_color;
      &::before {
        background-color: red;
        width: 120%;
      }
    }
  }

  &__view__all {
    background-color: $text_color;
    border-radius: 5px;
    color: $primary_color !important;
    &:hover {
      background-color: $text_color;
      color: $primary_color;
      box-shadow: 6px 6px 0 #1b2129;
    }
  }

  &__github {
    background-color: $text_color;
    color: $primary_color;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    font-size: 12px;

    &:hover {
      color: $text_color !important;
      box-shadow: 6px 6px 0 $text_color;
      background-color: #000;
    }
  }
}

@media (max-width: 768px) {
  .lg_heading {
    font-size: 24px;
  }
  .md_heading {
    font-size: 18px;
  }
  .sm_heading {
    font-size: 14px;
  }
  p,
  a {
    font-size: 14px;
  }
  .btn {
    font-size: 12px;
  }
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  span {
    font-size: 40px;
    color: $secondary_color;
    text-transform: uppercase;
    display: block;
  }
  h1 {
    font-size: 120px;
    color: $text_color;

    span {
      font-size: 14px;
      text-align: center;
    }
  }
}

.main {
  .header {
    position: initial;
  }
}
