@import "./variables";
.lg_heading {
  font-size: $lg_font;
  text-transform: uppercase;
  font-weight: 700;
  span {
    color: $red;
  }
}
.md_heading,
.sm_heading,
.lg_heading {
  font-family: 600;
  color: $white;
}
.md_heading {
  font-size: $md_font;
}
.sm_heading {
  font-size: $sm_font;
}

.md_heading,
.sm_heading {
  text-transform: uppercase;
}
.sub_heading {
  text-transform: uppercase;
  color: $red !important;
  font-weight: 600;
  line-height: 1.8;
  color: $white;
  font-size: 16px;
  margin-bottom: 0;
}

.section_gap {
  padding: 80px 0;
}
.pb-80 {
  padding-bottom: 80px;
}
.pt-80 {
  padding-bottom: 80px;
}
.black {
  color: $Primary;
}

.section_title {
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;

  h1 {
    text-align: center;
  }
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  color: $white !important;
  @include transition(0.3s);
  position: relative;
  z-index: 1;
  overflow: hidden;
  border: none;
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 0.5px;

  &::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 0;
    width: 0;
    right: -20px;
    bottom: 0;
    z-index: -1;
    transform: skew(-16deg);
    @include transition(0.6s);
  }

  &__hire {
    background-color: $red;
    &:hover {
      color: $Primary !important;
      &::before {
        background: $light_gray;
        width: 120%;
      }
    }
  }
  &__request {
    border: 1px solid $red;

    &:hover {
      &::before {
        background-color: red;
        width: 120%;
      }
    }
  }

  &__view__all {
    background-color: $red;
    border-radius: 5px;

    &:hover {
      background-color: $red;
      color: $white;
      box-shadow: 6px 6px 0 #1b2129;
    }
  }
}

@media (max-width: 768px) {
  .lg_heading {
    font-size: 24px;
  }
  .md_heading {
    font-size: 18px;
  }
  .sm_heading {
    font-size: 14px;
  }
  p,
  a {
    font-size: 14px;
  }
  .btn {
    font-size: 12px;
  }
}
