$primary_color: #fff;

$secondary_color: #36454f;
$text_color: #ff2400;

$teal: #008080;

// fontFamily
$fontFamily_01: "Roboto", sans-serif;
$fontFamily_02: "Poppins", sans-serif;

// Font Size
$lg_font: 28px;
$md_font: 24px;
$sm_font: 20px;

// Box Shadow
$boxShadow_01: 0px 0px 5px rgba(0, 0, 0, 0.3);
// Border
$border_01: 1px solid #ddd;
$border_02: 15px solid rgba(255, 255, 255, 0.1);

// gradients
$gradient_01: linear-gradient(to top, $primary_color 2%, $secondary_color);
