@import "../../assets/scss/variables";
.banner__02 {
  .row {
    margin-top: -40px;
  }
  &__image {
    width: 450px;
    height: 450px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    // overflow: hidden;
    margin-bottom: 80px;

    &::after {
      content: "";
      background: url(../../assets/img/banner/80010067.jpg);
      background-position: center;
      background-size: contain;
      position: absolute;
      top: 30px;
      left: 0;
      bottom: 0;
      right: 30px;
      z-index: -1;
      object-position: center;
    }

    &::before {
      content: "";
      width: 400px;
      height: 350px;
      display: block;
      position: absolute;
      top: 30%;
      left: 15%;

      border: 5px solid $text_color;
      z-index: -1;
    }
    img {
      object-fit: cover;
      object-position: top;
    }
  }

  &__text {
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

      li {
        flex: 1 1 50%;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 15px;

        span {
          white-space: nowrap;
          &:last-child {
            font-weight: 500;
          }
          &:first-child {
            text-align: right;
          }
        }
      }
    }
  }
}

@media (min-width: 968px) {
  .banner__02 {
    height: auto;
    display: grid;
    place-items: center;

    .row {
      margin-top: -40px;
    }

    &__text {
      ul {
        li {
          flex: 1 1 100% !important;
        }
      }
    }
  }
}
@media (max-width: 600px) {
  .banner__02 {
    &__image {
      width: 100% !important;

      &::before {
        width: 100% !important;
        left: -2%;
      }
    }
  }
}
