@import "../../assets/scss/styles.scss";
.cta {
  background: url(../../assets/img/bg/03.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  // margin-top: 50px;
  position: relative;
  z-index: 1;
  display: grid;
  place-items: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.85);
    z-index: -1;
  }

  .md_heading {
    text-transform: capitalize;
    padding: 15px 0;
    color: $text_color;
  }
}
