@import "../../assets/scss/styles.scss";
.portfolio {
  position: relative;
  z-index: 1;
  background-color: $white;

  .sub_heading {
    &::after {
      content: "";
      position: absolute;
      top: 85%;
      left: 0;
      width: 40%;
      height: 2px;
      background-color: $red;
    }
  }
  &__item {
    padding: 15px;
    // box-shadow: $boxShadow_01;
    // background: linear-gradient(-30deg, #000 10%, transparent);
    background: $Primary;
    border-radius: 5px;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;

    &__image {
      height: 200px;

      img {
        object-fit: cover;
        object-position: top;
        @include transition(5s);
      }
    }

    &__text {
      padding-top: 15px;

      h1 {
        color: $red;
      }
      p {
        @include line-clamp(3);
      }
    }

    &__btns {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 30px;

      span {
        font-size: 12px;
      }
    }

    &:hover {
      // background-color: red !important;
      .portfolio__item__image {
        img {
          object-position: bottom;
        }
      }
    }
  }
  &__status {
    font-family: $fontFamily_02;
    background-color: $red;
    color: $white;
    padding: 10px;
    font-weight: 300;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 20px 0 20px 0;
  }
}
