@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";
.portfolio {
  .row {
    margin-bottom: 50px;

    > div {
      &:nth-child(odd) {
        .portfolio__item__image {
          order: 2;
        }
      }
    }
  }
  &__item {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    text-align: center;
    margin-bottom: 50px;

    > div {
      flex: 1 1 50%;

      p {
        @include line-clamp(4);
      }
    }

    &__image {
      // min-width: 300px;
      height: 280px;
      overflow: hidden;

      img {
        object-fit: cover;
        object-position: top;
        @include transition(5s);
      }
    }

    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
      margin-bottom: 20px;

      li {
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;

        &:hover {
          color: $text_color;
        }
      }
    }

    &__btns {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
      position: absolute;
      bottom: 0;

      .btn {
        text-transform: uppercase;
        font-weight: 500;
      }
    }

    &:hover {
      .portfolio__item__image {
        img {
          object-position: bottom;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .portfolio {
    .row {
      > div {
        &:nth-child(odd) {
          .portfolio__item__text {
            order: 2;
          }
        }
      }
    }

    &__item {
      flex-direction: column;
      margin-bottom: 30px;

      > div {
        width: 100%;
        flex-basis: 250px;
      }

      &__btns {
        position: initial;
      }
    }
  }
}
