@import "../../assets/scss/styles.scss";
.skill {
  background-color: $teal;
  height: 100vh;
  display: grid;
  place-items: center;
  &__item {
    border: $border_01;
    padding: 15px;
    background-color: $white;
    margin-bottom: 15px;
  }
}
