@import "../../assets/scss/_variables.scss";
.footer {
  background-color: #000;
  color: $white;
  padding: 50px 0 30px;

  &__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;

    li {
      a {
        border: 1px solid $red;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: grid;
        place-items: center;
        color: $white;

        &:hover {
          background-color: $red;
        }
      }
    }
  }

  &__copyright {
    p {
      span {
        color: $red;
        font-weight: 400;
      }
    }
  }

  &__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;

    li {
      a {
        color: $white;
      }

      &:not(:last-child) {
        border-right: 2px solid $white;
        padding-right: 15px;
      }
    }
  }
}
