@import "../../assets/scss/_variables.scss";
.testimonial {
  background-color: #f7f7f7;
  padding: 50px 0;

  .testi_slider {
    overflow: hidden;
    .testi_item {
      padding: 50px;

      gap: 15px;
      border-radius: 5px;
      cursor: pointer;

      &_content {
        border: 1px solid #f7f7f7;
        padding: 30px;
        position: relative;
        z-index: 1;
        background-color: $primary_color;

        &::before {
          position: absolute;
          top: 100%;
          left: 25%;

          content: "";
          display: inline-block;
          border-top: 25px solid $primary_color;
          border-right: 25px solid transparent;
          border-bottom: 25px solid transparent;
        }

        p {
          display: -webkit-box;
          overflow: hidden;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 5;
        }
      }
      .profile {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;
      }
      .client {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 15px;
        margin-top: 30px;
        h5 {
          margin-bottom: 0;
        }
        span {
          display: block;
        }
      }
    }
  }
}

.reviewer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.name {
  h1.md_heading,
  h5 {
    color: $text_color;
    padding-left: 40px;
    position: relative;

    &::after {
      content: "";
      width: 30px;
      height: 1px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      background-color: $text_color;
    }
  }
}

@media screen and (max-width: 992px) {
  .testimonial {
    .testi_slider {
      .testi_item {
        flex-direction: column;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .testimonial {
    .testi_slider {
      .testi_item {
        &_content {
          .message {
            p {
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 5;
              overflow-y: scroll;

              &::-webkit-scrollbar {
                width: 3px;
              }
              &::-webkit-scrollbar-thumb {
                background-color: $secondary_color;
                border-radius: 5px;
              }
              &::-webkit-scrollbar-track {
                background-color: $text_color;
              }
            }
          }
        }
      }
    }
  }
}
