@import "../../assets/scss/_variables.scss";
.review {
  // height: 100vh;
  display: grid;
  place-items: center;
  &__item {
    // box-shadow: $boxShadow_01;
    // border: 1px solid #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 15px;
    padding: 30px 15px;
    margin-right: 30px;

    &__image {
      min-width: 200px;
      height: 200px;
      border-radius: 50%;
      border: $border_02;
      overflow: hidden;

      img {
        object-fit: cover;
        object-position: center;
      }
    }
  }
  &__text {
    &__header {
      margin-bottom: 15px;
      span {
        color: $primary_color;
        display: block;
      }
      h1 {
        color: $text_color;
      }
    }
  }
}

.slick-dots {
  li {
    border: 1px solid #ddd;
    border-radius: 50%;

    &.slick-active {
      background-color: $text_color;
      border-color: $text_color;
    }
  }

  button {
    background-color: $teal;

    &::before {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .review {
    &__item {
      flex-direction: column;
    }
    &__text {
      text-align: center !important;
    }
  }
}
