@import "../../assets/scss/styles.scss";

.banner {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  position: relative;
  z-index: 1;
  overflow: hidden;

  h2 {
    font-size: 3em;
    font-weight: 600;
    color: $secondary_color;
    z-index: 1111;

    span {
      // display: block;
      color: $text_color;
      font-weight: 900;
    }
  }

  h3 {
    font-size: 2em;
    font-weight: 400;
    color: $secondary_color;
    margin: 10px 0;
  }

  p {
    font-size: 16px;
    color: $secondary_color;
    font-weight: 500;
    margin: 10px 0;
  }

  &__btns {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    margin-top: 20px;
  }

  &__socials {
    position: absolute;
    bottom: 50px;

    svg {
      font-size: 3em;
      margin: 0 20px;
      cursor: pointer;
      color: $secondary_color;
      transition: 0.2s ease;

      &:hover {
        color: $text_color;
      }
    }
  }
  &__image {
    overflow: hidden;
  }
  .image__box {
    position: absolute;
    width: 800px;
    top: -50px;
    right: -5px;
    z-index: 1;
    transition: 0.3s ease;

    img {
      width: 100%;
    }
  }
  .pattern {
    position: absolute;
    background: url(../../assets/img/banner/12706.png);
    height: 100%;
    width: 50%;
    // height: 50%;
    background-size: cover;
    right: 10px;
    top: 100px;
    transition: 0.3s ease;
    z-index: -1;
  }
}

@media (max-width: 992px) {
  .banner {
    height: auto;
    .image__box {
      position: initial;
      width: 350px;
      height: 350px;
      margin: 0 auto;

      img {
        object-fit: cover;
        object-position: top;
      }
    }
    .pattern {
      top: 0;
      left: 120px;
      width: 500px;
      height: 500px;
      z-index: -1;
    }
    &__socials {
      position: initial;
      margin-top: 50px;
    }
  }
}

@media (max-width: 600px) {
  .banner {
    h2 {
      font-size: 2em;

      width: 800px;
    }
    h3 {
      font-size: 1.5em;
    }
    p {
      font-size: 0.9em;
    }
  }
}
